<!-- Colorswitcher -->
    <div class="settings-toggle">
        <a href="#" class="icon-cog" id="toggle"><i></i></a>
    </div>

    <div class="settings-panel">
        <div class="title">
            Switch Color Theme
        </div>

        <!-- <div class="note">(Note: Resets when navigating)</div> -->

        <div class="theme">
            <div class="name">Blue Green</div>
            <a href="#" id="color-bluegreen" class="colors">
                <div style="background: #242b32"></div>
                <div style="background: #37424c"></div>
                <div style="background: #f8f8f9"></div>
                <div style="background: #55a773"></div>
                <div style="background: #454a4e"></div>                
            </a>
        </div>

        <div class="theme">
            <div class="name">Blue Red</div>
            <a href="#" id="color-bluered" class="colors">
                <div style="background: #3498DB"></div>
                <div style="background: #4face9"></div>
                <div style="background: #ECF0F1"></div>
                <div style="background: #E74C3C"></div>
                <div style="background: #2C3E50"></div>                
            </a>
        </div>

        <div class="theme">
            <div class="name">Grey Red</div>
            <a href="#" id="color-greyred" class="colors">
                <div style="background: #262526"></div>
                <div style="background: #404040"></div>
                <div style="background: #8C8979"></div>
                <div style="background: #F2F2F2"></div>
                <div style="background: #F60A20"></div>
            </a>
        </div>

        <div class="subscribe">
            <div class="title">
                Email Newsletter
            </div>

            <div class="description">
                Be the first to know about new theme releases and special promotions.
            </div>

            <form action="http://hackerthemes.us6.list-manage.com/subscribe/post?u=2280ec47456d990298e644210&amp;id=e56e4b1b27" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <input class="email form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Sign me up!">
                <input class="btn btn-default" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
            </form>
        </div>
    </div>