{{ ! Here’s the condolence partial which is used to represent a single condolence in a list of condolences }}

<h5>
  {{ author_name }}
  <small>{{ created_at }}</small>
</h5>
<div>
  {{ content }}
</div>